body {
    /*background-color: #f1f1f1;*/
}

#wrapper {
    width: 990px;
    margin: auto;
    font-family: Verdana, Geneva, sans-serif;
    /*border: 2px solid black;*/
}

#topNavWrapper {
    width: 990px;
    margin: 0 auto;
}

#topNav {
    background-color: #008FC6;
    width: 100%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8em;
    display: inline-block;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
}

#topNav a {
    text-decoration: none;
    color: white;
    padding: 6px;
}

#topNav a:hover {
    text-decoration: none;
    color: black;
}

#topNav .menu {
    display: inline-block;
    margin: 0 auto;
}

#topNav .menu li {
    padding: 0px 5px;
}

#topNav .active {
    background-color: white;
    color: black;
}

#siteNav a {
    border: 1px solid white;
    border-radius: 10px 10px 0px 0px;
    background-color: dimgray;
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 1em;
    font-weight: bold;
    float: left;
}

#navMyMobile {
    float: right;
}

#bottomNav {
    background-color: #008FC6;
    width: 100.4%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
}

#bottomNav a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#bottomNav a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

#bottomNav .menu {
    display: inline-block;
    float: left;
}

#bottomNav .active {
    background-color: white;
    color: black;
}

#siteNav a:hover {
    background-color: #09F;
}

.menu li {
    float: left;
    border-right: 1px solid white;
    list-style: none;
}

.menu li:last-child {
    border-right: none;
}

#head {
    color: #09F;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.8em;
}

#logo {
    padding-bottom: 20px;
}

#siteNav {
    margin-bottom: 0.5em;
    color: white;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    display: inline-block;
    box-sizing: border-box;
}

#siteNav .menu {
    width: 100%;
    float: left;
    margin: auto;
}



#siteNav .active {
    background-color: #09F;
}

.box {
    border: 1px solid gray;
    display: inline-block;
    min-height: 30px;
    box-sizing: border-box;
    margin: 15px 0;
    font-size: 0.7em;
    padding: 10px;
}

.box.active {
    border: 1px solid #09F;
    background: rgba(0, 153, 255, 0.2);
}

#mainSearch td {
    padding: 3px 10px 3px 10px;
}

#mainSearch select {
    width: 100%;
}

#upload-image > img {
    display: block;
}

#notLoggedIn {
    display: none;
    text-align: center;
}

#notLoggedIn h3 {
    font-weight: bold;
}

#publish, #searching, #mainViewPublication, #divCar, #viewCarsFromHomeSearch #viewCarsAdvanced, #view, #notLoggedIn {
    border: 1px solid #09F;
    border-top: 2px solid #09F;
    padding: 10px;
}


#divCar {
    margin: 10px auto;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

#viewCarsFromHomeSearch {
    display: none;
}

#viewCarsAdvanced {
    display: none;
}

#viewButton {

    width: 100px;
    height: 60px;
    float: right;
}

#viewCarsFromHomeSearch h2, #viewCarsAdvanced h2 {

    font-weight:bold;
    border-bottom: 3px solid #09F;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

#view {
    display: none;
}

#view #viewButton {
    display: none;
}

#publish table th, #searching table th {
    text-align: left;
    font-weight: bold;
    padding: 10px 0px;
}

#publishTable select, #searching select {
    width: 100%;
}

.checkBoxes, #upload-image {
    display: flex;
    flex-direction: row;
}

.checkBoxes table td {
    padding: 0px 30px 0px 0px;
}

.button {
    width: 290px;
    box-sizing: border-box;
    padding: 30px;
    float: right;
}

#backToPublishText:hover {
    cursor: pointer;
}

#mainViewPublication {
    display: inline-block;
    width: 100%;
}
#viewPublication {
    display: none;
}

/*Hide publish page*/
#publishCars {
    display: none;
}

/*Hide searching page*/

#searching {
    display: none;
}

#publishTable td, #searching td {
    padding-right: 20px;
    padding: 5px;
}

#publish table, #searching table {
    font-size: 0.7em;
}

#publishTable label, #searching label {
    font-weight: bold;
    color: #09F;
}

#publishTable {
    margin-left: 40px;
}

#publish form {
    padding-left: 50px;
    box-sizing: border-box;
    display: inline-block;
}

#search {
    float: left;
    width: 35%;
}

#search h2, #news-section h1 {
    height: 25px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: #09F 3px solid;
    margin-bottom: 10px;
    text-align: left;
}

#search div {
    border: 2px solid #09F;
    padding: 0.5em;
}
/*#search input, select {
    display: block;
}*/
/*
#search #main-category {
    width: 75%;
    float: left;
    margin-left: 1em;
    margin-right: 0.5em;
}

#search label:first-of-type {
    width: 50%;
}
*/
#search .important-label-for-cars {
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 0.5em;
}

#mainSearch span, a{
    font-size: 0.8em;
}
/*
#search label, #se select {
    float: left;
    width: 44%;
    margin-left: 0.3em;
}
*/
#search #state-car-categories {
    display: block;
} /*

#search .state {
    float: left;
    width: 30%;
    color: red;
}

#search span {
    float: left;
    width: 30%;
    font-size: 0.5em;
}

#search #state-car-categories {
    clear: both;
    width: 100%;
}*/

/*End of search box*/


#searching #mainCategory td {
    padding: 5px;
}

#searching ul {
    font-size: 0.7em;
}
#searching .checkBoxes td {
    padding: 0px;
    padding-right: 20px;
}

#searching .checkBoxes {
    padding-left: 50px;
}

#searching {
    padding: 20px;
}
/*News section*/

#news-section {
    float: left;
    width: 33%;
    /* display: inline-block; */
    margin-left: 1em;
    border-bottom: 1px solid #09F;
    padding-bottom: 0.4em;
    margin-bottom: 0.5em;
}
#news-section h3 {
    float: left;
    width: 45%;
    font-weight: bold;
}
#news-section img {
    float: right;
    width: 50%;
    height: 100px;
}
#news-section span {
    clear:both;
    float: right;
    color: grey;
    font-size: 0.7em;
    padding: 0.2em 0;
}
#news-section #more-news {
    clear: both;
    border-top: 1px solid black;
}
#news-section #more-news ul{
    list-style-type: square;
    width: 95%;
    float: right;
}
#news-section #more-news ul li{
    width: 100%;
    margin: 0.3em 0;
}
#news-section #more-news ul li a{
    font-size: 0.9em;
    color: black;
    text-decoration: none;
}
#news-section #more-news ul li:hover {
    text-decoration: underline;
}
/*End of news section*/

#part3 > section {
    /*display: flex;*/
    /*flex-direction: row;*/
    width: 700px;
}

#part3 > section h1 {
    height: 25px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: #09F 3px solid;
    margin-bottom: 10px;
    text-align: left;
}

/*End of rss news*/

/*Login and Register form*/
#register-button:hover {
    cursor: pointer;
}


#login-section {
    float: right;
    width: 28%;
    border: 1px solid grey;
}
#login-section #left-register-link {
    padding: 6px;
    float: left;
}
#login-section h3 {
    text-align: left;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    background-color: #eff1f4;
    margin-bottom: 2em;
}

#login-section #left-register-link h4 {
    text-decoration: underline;
    color: #09419b;
    font-weight: bold;  
    font-size: 1em;
}
#login-section #left-register-link p {
    font-size: 0.8em;
}
#login-section button {
    float: right;
    width: 30%;
    padding: 5px;
    margin-right: 1em;
    color: white;
    background-color: #224b8e;
    border-radius: 10px;
    font-weight: bold;
}
#login-section #login-bottom-links {
    margin-top: 1em;
    border-top: 1px dashed grey;
    padding: 0.3em;
    display: inline-block;
}
#login-section #login-bottom-links img {
    float: left;
    width: 7%;
    margin-left: 2px;
}
#login-section #login-bottom-links  p {
    float: left;
    width: 24%;
    font-size: 0.7em;
    margin-left: 0.2em;
}
/*Finish styling og login and register form*/
/*Styling logged users*/
#login-background {
    padding: 2em;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: black;
    border: 1px solid black;
    display: none;
    z-index: 1;
}

#login-section #logged-user {
    width: 100%;
    text-align: center;
}
#login-section #logged-user span {
    font-weight: bold;
    text-transform: uppercase;
}
/*Styling login-register popup-->*/
#login-register-popup {
    padding: 2em;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 40%;
    height: 60%;
    border-radius: 5%;
    background-color: white;
    color: grey;
    border: 1px solid black;
    display: none;
    z-index: 1;
}
#login-register-popup #showLoginForm, #showRegistrationForm {
    /*display: inline-block;*/
    padding: 1em;
    border: 2px solid #09F;
    border-radius: 25%;
    color: white;
    background-color: #224b8e;
    font-weight: bold;
    text-decoration: none;
}

#login-register-popup #showLoginForm {
    margin-left: 25%;
}

#login-register-popup #close-popup {
    float: right;
    background-color: grey;
    color: white;
    border-radius: 50%;
    zoom: 2;
}
#login-register-popup form {
    margin-top: 2em;
}

#login-register-popup form label, #login-register-popup form input {
    display: block;
    margin: auto;
    text-align: center;
}
#login-register-popup #register-form {
    display: none;
}

#login-register-popup #login-form {
    display: none;
}

/*End of Login and Register form*/

/*Left side New cars*/

section .leftCars {
    width: 445px;
    margin-right: 8px;
    float: left;
    /*border: 2px solid blue;*/
}

.slideShow {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.slideShow > a {
    padding-right: 10px;
}

.slideShow a {
    text-decoration: none;
    color: black;
}

.slideShow ul li {
    font-size: 14px;
}

.slideShow ul li a.model {
    color: #09F;
    font-size: 12px;
    font-weight: bold;
}

.slideShow ul li a.price {
    display: block;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    padding: 23px 0 5px 0;
}

.slideShow ul li a.date {
    display: block;
    margin-top: 27px;
    color: #999999;
    font-size: 12px;
}

.slideShow ~ a {
    display: block;
    text-decoration: none;
    color: black;
    border-top: 1px solid gray;
    padding: 5px;
    font-size: 11px;

}

.slideShow ~ a:last-child {
    border-bottom: 1px solid #09F;
}

.slideShow ~ a:hover {
    background: url("../img/lastobbgr.png") repeat-x;
    color: #09F;
}

.slideShow ~ a .carName {
    font-weight: bold;
    margin-left: 0;
}

.slideShow ~ a span {
    margin-left: 5px;
}

.slideShow ~ a span:last-child {
    display: inline-block;
    float: right;
    text-align: right;
    color: #999999;
}

/*Right side Tires article*/

section .rightTires {
    float: left;
    width: 207px;
}

section .rightTires form {
    border: 1px solid #dfdfdf;
    border-bottom: 1px solid #b1bdc9;
    background-image: url("../img/gumi.jpg");
    height: 267px;
    padding-left: 8px;
}

section .rightTires form label {
    font-size: 11px;
    display: block;
    width: 120px;
    margin: 15px 0 2px 0;
}

section .rightTires .season {
    width: 120px;
}

section .rightTires .sSmall {
    width: 60px;
}

section .rightTires .brand {
    width: 190px;
}

section .rightTires button {
    display: block;
    width: 184px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 40px;
    font-family: Verdana, Geneva, sans-serif;
    color: #333;
}

section .rightTires .searching {
    display: inline-block;
    margin-top: 12px;
    color: #09F;
    font-size: 13px;
    font-weight: bold;
}

/*Advertisments and Iframe mobile.bg*/

section .iframeMobile {
    float: right;
    width: 0%;
}

embed {
    margin: 20px 10px 10px 10px;
    padding-left: 10px;
}

#advertisements .showInfo {
    display: inline-block;
    position: absolute;
    margin: 20px 0 0 25px;
    width: 300px;
}

#advertisements .showInfo table td {
    width: 300px;
    border: 1px solid darkgray;
    font-size: 11px;
    padding: 2px;
    text-align: center;
}

#advertisements .showInfo table .l1, #advertisements .showInfo table .l2 {
    border: none;
    text-align: left;
}

#advertisements .showInfo table .l2 {
    text-align: center;
}

/* Styling page - myMobile ->*/
    #my-mobile, #my-mobile #show-version-for-users {
        box-sizing: border-box;
        display: none;
        padding: 10px;
    }
     #my-mobile #show-version-for-guests {
         text-align: center;
     }
    #my-mobile #show-version-for-guests h3 {
              font-weight: bold;
              font-size: 1.3em;
    }

    #my-mobile {
        min-height: 10em;
    }
    /*For users ->*/
    #liked-cars-from-user, #all-cars-from-user {
        float: left;
        width: 45%;
        min-height: 100px;
        margin-left: 2em;
        border: 3px solid #09F;
    }
    #liked-cars-from-user h3, #all-cars-from-user h3 {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        padding: 1em;
    } 
/*Finish with My mobile page*/

/*Footer*/

footer {
    margin-top: 20px;
    border-top: 1px solid #09F;

}

footer section .links {
    text-align: left;
    margin: 5px 0 0 5px;
}

footer section .links ul li {
    display: inline-block;
    font-size: 11px;
    color: #999999;
}

footer section .links ul li a {
    color: #999999;
}

footer section .footerLinks {
    margin: 10px 0 10px 0;
}

footer section .footerLinks ul, footer section .footerLinks ul li {
    display: inline-block;
    font-size: 12px;
}

footer section .footerLinks ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-right: 4px;
}

footer section .footerLinks > a {
    padding-top: 5px;
    float: right;
    color: black;
    font-size: 12px;
}

footer section .bottomFooter {
    color: white;
    background-color: #008FC6;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

footer section .bottomFooter ul, footer section .bottomFooter ul li {
    display: inline-block;

}

footer section .bottomFooter ul li a {
    color: white;
    font-weight: bold;
    padding-right: 4px;
    text-decoration: none;
}

footer section .bottomFooter span {
    float: right;
    font-size: 11px;
}

#searching {
    display: none;
}