body {
    /*background-color: #f1f1f1;*/
}

#wrapper {
    width: 990px;
    margin: auto;
    font-family: Verdana, Geneva, sans-serif;
    /*border: 2px solid black;*/
}


#topNav {
    background-color: #008FC6;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8em;
    display:inline-block;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
}

#topNav a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#topNav a:hover {
    text-decoration: none;
    color:black;
}

#topNav .menu {
    display: inline-block;
    margin: auto;
}

#topNav .active {
    background-color: white;
    color: black;
}

#siteNav a {
    text-decoration: none;
    color: white;
    padding: 4px;
}

#bottomNav{
    background-color: #008FC6;
    width: 100.4%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    display:inline-block;
    border: 1px solid white;
    text-align: center;
    padding: 5px;
}
#bottomNav a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#bottomNav a:hover {
    text-decoration: none;
    background-color: white;
    color: black;
}

#bottomNav .menu {
    display: inline-block;
    float: left;
}

#bottomNav .active {
    background-color: white;
    color: black;
}


#siteNav a:hover {
    background-color: #09F;
}


.menu li {
    float: left;
    border-right: 1px solid white;
}

.menu li:last-child {
    border-right: none;
}

#head {
    color: #09F;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.8em;
}

#logo {
    padding-bottom: 20px;
}

#siteNav {
    background-color: dimgray;
    color: white;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    display:inline-block;
    border: 1px solid white;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 7px;
}

#siteNav .menu {
    display: inline-block;
    margin: auto;
}

#siteNav .active {
    background-color: #09F;
}


.box {
    border: 1px solid gray;
    display: inline-block;
    min-height: 30px;
    box-sizing: border-box;
    margin: 15px 0;
    font-size: 0.7em;
    padding: 10px;
}

.box:last-child {
    margin-left: 80px;
}

.box.active {
    border: 1px solid #09F;
    background: rgba(0, 153, 255, 0.2);
}

#publish {
    border: 1px solid #09F;
    border-top: 2px solid #09F;
}

#search {
    float: left;
    width: 35%;
}
#search h2, #news-section h2 {
    height: 25px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: #09F 3px solid;
    margin-bottom: 10px;
    text-align: left;
}
#search div {
    border: 2px solid #09F;
    padding: 0.5em;
}

#search #main-category {
    width: 75%;
    float: left;
    margin-left: 1em;
    margin-right: 0.5em;   
}

#search label:first-of-type {
    width: 50%;
}
#search .important-label-for-cars {
    display: inline-block;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 0.5em;
}
#search label, select {
    float: left;
    width: 44%;
    margin-left: 0.3em;
}
#search #state-car-categories {
    display: block;
}

#search .state {
    float: left;
    width: 30%;
    color: red;
}
#search span {
    float: left;
    width: 30%;
    font-size: 0.5em;
}
#search #state-car-categories {
    clear: both;
    width: 100%;
}
 /*News section*/
section#news-section {
    float: left;
    width: 35%;
    margin-left: 2em;
}


section#news-section .feed-item-desc {
    display: none;
}
/*
section#news-section div#content {
    width: 100%;
}
*/

.rss2html-note {
    display: none;
}
#content h4 a {
    color: black;
    padding-bottom: 2em;

}

#part3 > section {
    /*display: flex;*/
    /*flex-direction: row;*/
    width: 700px;
}


#part3 > section h1 {
    height: 25px;
    font-weight: bold;
    font-size: 14px;
    border-bottom: #09F 3px solid;
    margin-bottom: 10px;
    text-align: left;
}

/*Left side New cars*/

section .leftCars {
    width: 445px;
    margin-right: 8px;
    float: left;
    /*border: 2px solid blue;*/
}

.slideShow {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.slideShow > a {
    padding-right: 10px;
}

.slideShow a {
    text-decoration: none;
    color: black;
}

.slideShow ul li {
    font-size: 14px;
}

.slideShow ul li a.model {
    color: #09F;
    font-size: 12px;
    font-weight: bold;
}

.slideShow ul li a.price {
    display: block;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    padding: 23px 0 5px 0;
}

.slideShow ul li a.date {
    display: block;
    margin-top: 27px;
    color: #999999;
    font-size: 12px;
}

.slideShow ~ a {
    display: block;
    text-decoration: none;
    color: black;
    border-top: 1px solid gray;
    padding: 5px;
    font-size: 11px;

}

.slideShow ~ a:last-child {
    border-bottom: 1px solid #09F;
}

.slideShow ~ a:hover {
    background: url("../img/lastobbgr.png") repeat-x;
    color: #09F;
}

.slideShow ~ a .carName {
    font-weight: bold;
    margin-left: 0;
}

.slideShow ~ a span {
    margin-left: 5px;
}

.slideShow ~ a span:last-child {
    display: inline-block;
    float: right;
    text-align: right;
    color: #999999;
}

/*Right side Tires article*/

section .rightTires {
    float: left;
    width: 207px;
}

section .rightTires form {
    border: 1px solid #dfdfdf;
    border-bottom: 1px solid #b1bdc9;
    background-image: url("../img/gumi.jpg");
    height: 267px;
    padding-left: 8px;
}

section .rightTires form label {
    font-size: 11px;
    display: block;
    width: 120px;
    margin: 15px 0 2px 0;
}

section .rightTires .season {
    width: 120px;
}

section .rightTires .sSmall {
    width: 60px;
}

section .rightTires .brand {
    width: 190px;
}

section .rightTires button {
    display: block;
    width: 184px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 40px;
    font-family: Verdana, Geneva, sans-serif;
    color: #333
}

section .rightTires .searching {
    display: inline-block;
    margin-top: 12px;
    color: #09F;
    font-size: 13px;
    font-weight: bold;
}

/*Advertisments and Iframe mobile.bg*/

section .iframeMobile {
    display: inline-block;
    float: right;
    position: absolute;
    margin: 70px 0 0 10px;
}

embed {
    margin: 20px 10px 10px 10px;
    padding-left: 10px;
}

#advertisements .showInfo {
    display: inline-block;
    position: absolute;
    margin: 20px 0 0 25px;
    width: 300px;
}

#advertisements .showInfo table td {
    width: 300px;
    /*border: 1px solid darkgray;*/
    font-size: 12px;
    border-collapse: separate;
    padding: 2px;
    text-align: center;
    border-spacing: 10px;
    }

/*Footer*/

footer {
    margin-top: 20px;
    border-top: 1px solid #09F;

}

footer section .links {
    text-align: left;
    margin: 5px 0 0 5px;
}

footer section .links ul li {
    display: inline-block;
    font-size: 11px;
    color: #999999;
}

footer section .links ul li a {
    color: #999999;
}

footer section .footerLinks {
    margin: 10px 0 10px 0;
}

footer section .footerLinks ul, footer section .footerLinks ul li {
    display: inline-block;
    font-size: 12px;
}

footer section .footerLinks ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-right: 4px;
}

footer section .footerLinks > a {
    padding-top: 5px;
    float: right;
    color: black;
    font-size: 12px;
}

footer section .bottomFooter {
    color: white;
    background-color: #008FC6;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 10px;
}

footer section .bottomFooter ul, footer section .bottomFooter ul li {
    display: inline-block;

}

footer section .bottomFooter ul li a {
    color: white;
    font-weight: bold;
    padding-right: 4px;
    text-decoration: none;
}

footer section .bottomFooter span {
    float: right;
    font-size: 11px;
}